<html>
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>用户首页</title>
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <input type="button" onclick="admin()" value="管理员">
</div>
<div>
    <input type="button" onclick="staff()" value="普通员工">
</div>
<div>
    <input type="button" onclick="testBody()" value="RequestBody模拟演示">
</div>
</body>
<script>
    function admin() {
        $.ajax({
            url: "/api/admin",
            type: "GET",
            async: false,
            success: function (data) {

            }
        });
    }

    function staff() {
        $.ajax({
            url: "/api/staff",
            type: "GET",
            async: false,
            success: function (data) {

            }
        });
    }

    function testBody() {
        $.ajax({
            url: "/api/body",
            type: "POST",
            dataType: "json",
            beforeSend: function(request) {
                request.setRequestHeader("Content-Type", "application/json");
            },
            async: false,
            data: JSON.stringify({
                "username": "test",
                "password": "123456"
            }),
            success: function (data) {

            }
        });
    }

</script>
</html>